.foodCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    width: 100%;
}

.eachFoodCard {
    border: 3px solid rgb(109, 23, 23);
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    margin: 15px;
    background-color: rgba(242, 243, 199, 0.8);
}